.input {
  padding: 5px 10px;
  outline: none;
  border: 1px solid rgb(54, 54, 65);
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  color: #4b2354;
  line-height: 1.2;
  box-shadow: 0 2px 2px 0px rgba(50, 44, 51, 0.5);
}

.button {
  padding: 10px 15px;
  outline: none;
  border: 1px solid rgb(54, 54, 65);
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 2px 2px 0px rgba(50, 44, 51, 0.5);
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 390px;
  background: #fff;
  box-shadow: 0 2px 2px 0px rgba(29, 25, 48, 0.329);
  border-radius: 2px;
  border: 1px solid rgba(29, 25, 48, 0.329);
}
